// Color schemes Sass and CSS variables

// Each color scheme requires duplication to work with JS manual
// switching and @media prefers options. The properties are managed
// using Sass variables to save replicating alterations made.

// Sass variables

// Mode switching button SVGs
$day-mode: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='m7.47 0v2.26h1.15v-2.26zm-4.9 2.19-0.812 0.8 1.62 1.6 0.812-0.8zm10.8 0-1.62 1.6 0.812 0.8 1.62-1.6zm-5.29 1.25s-4.59 0-4.59 4.52c0 4.52 4.59 4.52 4.59 4.52s4.59 0 4.59-4.52c0-4.52-4.59-4.52-4.59-4.52zm5.67 3.92v1.13h2.3v-1.13zm-13.7 0.0243v1.13h2.3v-1.13zm3.01 4-1.62 1.6 0.812 0.8 1.62-1.6zm9.99 0-0.812 0.8 1.62 1.6 0.812-0.8zm-5.54 2.36v2.26h1.15v-2.26z' clip-rule='evenodd'/></svg>");
$night-mode: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='m3.6 1s-2.27 2.27-2.5 5.39c-0.308 1.82 0.062 4.02 2.26 6.22 2.06 2.06 4.11 2.51 5.86 2.31 3.46-0.231 5.79-2.51 5.79-2.51s-4.21 1.35-8.48-2.93c-4.26-4.26-2.9-8.46-2.9-8.46z' clip-rule='evenodd'/></svg>");

// Light mode color scheme
$lm-color-scheme: light;
$lm-text: #000 !default;
$lm-text-hsl: 0, 0%, 0% !default;
$lm-text-light: var(--gray-9) !default;
$lm-link: var(--blue) !default;
$lm-link-hover: var(--blue-lighter) !default;
$lm-surf-1: #fff !default;
$lm-surf-2: var(--gray-1) !default;
$lm-surf-3: var(--gray-2) !default;
$lm-surf-4: var(--gray-3) !default;
$lm-surf-5: var(--gray-4) !default;
$lm-surf-6: var(--gray-5) !default;
$lm-surf-7: var(--gray-6) !default;
$lm-body-bg: var(--surf-1) !default;
$lm-modeswitch-svg: var(--day-mode) !default;

// Dark mode color scheme
$dm-color-scheme: dark;
$dm-text: #fff !default;
$dm-text-hsl: 0, 0%, 100% !default;
$dm-text-light: var(--gray-2) !default;
$dm-link: var(--blue-light) !default;
$dm-link-hover: var(--blue-lighter) !default;
$dm-surf-1: #000 !default;
$dm-surf-2: var(--gray-12) !default;
$dm-surf-3: var(--gray-11) !default;
$dm-surf-4: var(--gray-10) !default;
$dm-surf-5: var(--gray-9) !default;
$dm-surf-6: var(--gray-8) !default;
$dm-surf-7: var(--gray-7) !default;
$dm-body-bg: var(--surf-1) !default;
$dm-modeswitch-svg: var(--night-mode) !default;

// CSS variables

:root {
  color-scheme: light dark;
}

:where(html) {
  --day-mode: #{$day-mode};
  --night-mode: #{$night-mode};
}

:where(html) {
  color-scheme: #{$lm-color-scheme};
  --text: #{$lm-text};
  --text-hsl: #{$lm-text-hsl};
  --text-light: #{$lm-text-light};
  --link: #{$lm-link};
  --link-hover: #{$lm-link-hover};
  --surf-1: #{$lm-surf-1};
  --surf-2: #{$lm-surf-2};
  --surf-3: #{$lm-surf-3};
  --surf-4: #{$lm-surf-4};
  --surf-5: #{$lm-surf-5};
  --surf-6: #{$lm-surf-6};
  --surf-7: #{$lm-surf-7};
  --body-bg: #{$lm-body-bg};
  --modeswitch-svg: #{$lm-modeswitch-svg};
}

:where(body.dark-theme) {
  color-scheme: #{$dm-color-scheme};
  --text: #{$dm-text};
  --text-hsl: #{$dm-text-hsl};
  --text-light: #{$dm-text-light};
  --link: #{$dm-link};
  --link-hover: #{$dm-link-hover};
  --surf-1: #{$dm-surf-1};
  --surf-2: #{$dm-surf-2};
  --surf-3: #{$dm-surf-3};
  --surf-4: #{$dm-surf-4};
  --surf-5: #{$dm-surf-5};
  --surf-6: #{$dm-surf-6};
  --surf-7: #{$dm-surf-7};
  --body-bg: #{$dm-body-bg};
  --modeswitch-svg: #{$dm-modeswitch-svg};
}

@media (prefers-color-scheme: dark) {
:where(html) {
  color-scheme: #{$dm-color-scheme};
  --text: #{$dm-text};
  --text-hsl: #{$dm-text-hsl};
  --text-light: #{$dm-text-light};
  --link: #{$dm-link};
  --link-hover: #{$dm-link-hover};
  --surf-1: #{$dm-surf-1};
  --surf-2: #{$dm-surf-2};
  --surf-3: #{$dm-surf-3};
  --surf-4: #{$dm-surf-4};
  --surf-5: #{$dm-surf-5};
  --surf-6: #{$dm-surf-6};
  --surf-7: #{$dm-surf-7};
  --body-bg: #{$dm-body-bg};
  --modeswitch-svg: #{$dm-modeswitch-svg};
}
}
@media (prefers-color-scheme: dark) { 
:where(html) body.light-theme {
  color-scheme: #{$lm-color-scheme};
  --text: #{$lm-text};
  --text-hsl: #{$lm-text-hsl};
  --text-light: #{$lm-text-light};
  --link: #{$lm-link};
  --link-hover: #{$lm-link-hover};
  --surf-1: #{$lm-surf-1};
  --surf-2: #{$lm-surf-2};
  --surf-3: #{$lm-surf-3};
  --surf-4: #{$lm-surf-4};
  --surf-5: #{$lm-surf-5};
  --surf-6: #{$lm-surf-6};
  --surf-7: #{$lm-surf-7};
  --body-bg: #{$lm-body-bg};
  --modeswitch-svg: #{$lm-modeswitch-svg};
}
}
