// Gradients and shadows.

// Sass variables
$gradient-1: linear-gradient(180deg, hsla(0, 0%, 100%, .075), hsla(0, 0%, 100%, 0)) !default;
$gradient-2: linear-gradient(180deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, 0)) !default;
$gradient-3: linear-gradient(180deg, hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0)) !default;
$gradient-4: linear-gradient(180deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, 0)) !default;
$gradient-5: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0)) !default;
$gradient-6: linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0)) !default;
$box-shadow-1: 0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.075) !default;
$box-shadow-2: 0 0.063rem 0.125rem hsla(0, 0%, 0%, 0.4) !default;
$box-shadow-3: 0 0.156rem 0.25rem hsla(0, 0%, 0%, 0.4) !default;
$box-shadow-4: 0 0.172rem 0.35rem hsla(0, 0%, 0%, 0.35) !default;
$txt-shadow-1: 0.03rem 0.05rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;
$txt-shadow-2: 0.03rem 0.08rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;
$txt-shadow-3: 0.03rem 0.15rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;
$txt-shadow-4: 0.03rem 0.2rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;

// CSS variables
:where(html) {
--gradient-1: #{$gradient-1};
--gradient-2: #{$gradient-2};
--gradient-3: #{$gradient-3};
--gradient-4: #{$gradient-4};
--gradient-5: #{$gradient-5};
--gradient-6: #{$gradient-6};
--box-shadow-1: #{$box-shadow-1};
--box-shadow-2: #{$box-shadow-2};
--box-shadow-3: #{$box-shadow-3};
--box-shadow-4: #{$box-shadow-4};
--txt-shadow-1: #{$txt-shadow-1};
--txt-shadow-2: #{$txt-shadow-2};
--txt-shadow-3: #{$txt-shadow-3};
--txt-shadow-4: #{$txt-shadow-4};
}
