// Buttons

:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --btn-color: #{$btn-color};
  --btn-size: #{$btn-size};
  --btn-bg: #{$btn-bg};
  --btn-padding: #{$btn-padding};  
  --btn-border-color: #{$btn-border-color};
  --btn-border-width: #{$btn-border-width};
  --btn-radius: #{$btn-radius};  
  --btn-focus: #{$btn-focus};
  --ico-color: #{$btn-ico-color};  
  color: var(--btn-color);
  font-size: var(--btn-size);
  padding: var(--btn-padding);
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-radius);
  background-color: var(--btn-bg);
  cursor: pointer;
  -webkit-appearance: button; 
  appearance: button;
  transition: #{$btn-transition};
}

:where([role="button"], .btn) {
  display: inline-block;
  text-decoration: none;
}

:where(.btn) {
  text-align: center;
  vertical-align: middle;
}

:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn):hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
}

:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn):focus,
:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn):active, {
  color: var(--btn-focus-color);
  outline: 0;
  background-color: var(--btn-focus-bg);
  border: 1px solid var(--btn-border-color);
  box-shadow: var(--btn-focus);
}

// File upload input button

:where([type=file]) {
  display: #{$btn-file-input-display};
  width: #{$btn-file-input-width};
  border: 1px solid var(--surf-3);
  border-radius: #{$btn-file-input-border-radius};
  overflow: hidden;
  padding: #{$btn-file-input-padding};
  cursor: pointer;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --btn-bg: #{$btn-file-bg};
  --btn-hover-bg: #{$btn-file-bg-hover};
  --btn-padding: #{$btn-file-padding};
  border-radius: #{$btn-file-radius};
  border-top-right-radius: #{$btn-file-radius-right};
  border-bottom-right-radius: #{$btn-file-radius-right};
  margin-right: #{$btn-file-margin-right};
}

:where(input[type="file"])::file-selector-button:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
}

:where(input[type="file"])::-webkit-file-upload-button:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
}

// Button styles

:where(button, [type="button"], [role="button"], .btn) {
  --btn-bg: #{$base-btn-bg};
  --btn-border-color: #{$base-btn-border-color};
  --btn-hover-bg: #{$base-btn-hover-bg};
  --btn-focus-bg: #{$base-btn-focus-bg};
  --btn-focus-hsl: #{$base-btn-focus-hsl};
}

:where([type="submit"]) {
  --btn-color: #{$submit-btn-color};
  --btn-bg: #{$submit-btn-bg};
  --btn-border-color: #{$submit-btn-border-color};
  --btn-hover-color: #{$submit-btn-hover-color};
  --btn-hover-bg: #{$submit-btn-hover-bg};
  --btn-focus-color: #{$submit-btn-focus-color};
  --btn-focus-bg: #{$submit-btn-focus-bg};
  --btn-focus-hsl: #{$submit-btn-focus-hsl};
}

:where([type="reset"]) {
  --btn-color: #{$reset-btn-color};
  --btn-bg: #{$reset-btn-bg};
  --btn-border-color: #{$reset-btn-border-color};
  --btn-hover-color: #{$reset-btn-hover-color};
  --btn-hover-bg: #{$reset-btn-hover-bg};
  --btn-focus-color: #{$reset-btn-focus-color};
  --btn-focus-bg: #{$reset-btn-focus-bg};
  --btn-focus-hsl: #{$reset-btn-focus-hsl};
}

:where(.btn-dark) {
  --btn-color: #{$dark-btn-color};
  --btn-bg: #{$dark-btn-bg};
  --btn-border-color: #{$dark-btn-border-color};
  --btn-hover-color: #{$dark-btn-hover-color};
  --btn-hover-bg: #{$dark-btn-hover-bg};
  --btn-focus-color: #{$dark-btn-focus-color};
  --btn-focus-bg: #{$dark-btn-focus-bg};
  --btn-focus-hsl: #{$dark-btn-focus-hsl};
}

:where(.btn-blue) {
  --btn-color: #{$blue-btn-color};
  --btn-bg: #{$blue-btn-bg};
  --btn-border-color: #{$blue-btn-border-color};
  --btn-hover-color: #{$blue-btn-hover-color};
  --btn-hover-bg: #{$blue-btn-hover-bg};
  --btn-focus-color: #{$blue-btn-focus-color};
  --btn-focus-bg: #{$blue-btn-focus-bg};
  --btn-focus-hsl: #{$blue-btn-focus-hsl};
}

:where(.btn-green) {
  --btn-color: #{$green-btn-color};
  --btn-bg: #{$green-btn-bg};
  --btn-border-color: #{$green-btn-border-color};
  --btn-hover-color: #{$green-btn-hover-color};
  --btn-hover-bg: #{$green-btn-hover-bg};
  --btn-focus-color: #{$green-btn-focus-color};
  --btn-focus-bg: #{$green-btn-focus-bg};
  --btn-focus-hsl: #{$green-btn-focus-hsl};
}

:where(.btn-red) {
  --btn-color: #{$red-btn-color};
  --btn-bg: #{$red-btn-bg};
  --btn-border-color: #{$red-btn-border-color};
  --btn-hover-color: #{$red-btn-hover-color};
  --btn-hover-bg: #{$red-btn-hover-bg};
  --btn-focus-color: #{$red-btn-focus-color};
  --btn-focus-bg: #{$red-btn-focus-bg};
  --btn-focus-hsl: #{$red-btn-focus-hsl};
}

:where(.btn-yellow) {
  --btn-color: #{$yellow-btn-color};
  --btn-bg: #{$yellow-btn-bg};
  --btn-border-color: #{$yellow-btn-border-color};
  --btn-hover-color: #{$yellow-btn-hover-color};
  --btn-hover-bg: #{$yellow-btn-hover-bg};
  --btn-focus-color: #{$yellow-btn-focus-color};
  --btn-focus-bg: #{$yellow-btn-focus-bg};
  --btn-focus-hsl: #{$yellow-btn-focus-hsl};
}

// Button sizes

.btn-xs {
  --fs: #{$btn-xs-fs};
  --btn-padding: #{$btn-xs-padding};
}

.btn-sm {
  --fs: #{$btn-sm-fs};
  --btn-padding: #{$btn-sm-padding};
}

.btn-lg {
  --fs: #{$btn-lg-fs};
  --btn-padding: #{$btn-lg-padding};
}

.btn-lgr {
  --fs: #{$btn-lgr-fs};
  --btn-padding: #{$btn-lgr-padding};
}

// Button groups and toolbars

.btn-toolbar {
  display: flex;
  flex-direction: row;
  gap: #{$btn-toolbar-gap};
}

.btn-group {
  display: flex;
}

.btn-group-col {
  display: inline-flex;
  flex-direction: column;
}

:where(.btn-group > *),
:where(.btn-group-col > *) {
  --btn-radius: 0;
}

:where(.btn-group > *):focus,
:where(.btn-group-col > *):focus {
  box-shadow: #{$btn-group-focus-shadow};
  outline: #{$btn-group-focus-outline};
  outline-color: #{$btn-group-focus-color};
}

:where(.btn-group > *) {
  border-right: none;
}

:where(.btn-group > *):focus,
:where(.btn-group > *):active {
  border-right: none;
}

:where(.btn-group > *):first-child {
  --btn-radius: #{$btn-radius};
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:where(.btn-group > *):last-child {
  --btn-radius: #{$btn-radius};
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: var(--btn-border-width) solid var(--btn-border-color);
}

:where(.btn-group-col > *) {
  border-bottom: none;
}

:where(.btn-group-col > *):focus,
:where(.btn-group-col > *):active {
  border-bottom: none;
  outline: none;
}

:where(.btn-group-col > *):first-child {
  --btn-radius: #{$btn-radius};
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:where(.btn-group-col > *):last-child {
  --btn-radius: #{$btn-radius};
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: var(--btn-border-width) solid var(--btn-border-color);
}
