// Buttons

:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --btn-color: var(--text);
  --btn-size: var(--fs);
  --btn-bg: inherit;
  --btn-padding: .25rem .75rem;
  --btn-border: transparent;
  --btn-radius: 2px;
  --btn-focus: 0 0 0 0.18rem hsla(var(--btn-focus-hsl), .5);
  --btn-display: ;
  --btn-width: ;
  --ico-color: var(--btn-color);
  color: var(--btn-color);
  font-size: var(--btn-size);
  padding: var(--btn-padding);
  border: 1px solid var(--btn-border);
  border-radius: var(--btn-radius);
  background-color: var(--btn-bg);
  background-image: var(--gradient-1);
  display: var(--btn-display);
  width: var(--btn-width);
  cursor: pointer;
  -webkit-appearance: button; 
  appearance: button;
  transition: border-color 0.1s, background-color 0.1s;
}

:where([role="button"], .btn) {
--btn-display: inline-block;
  text-decoration: none;
}

:where(.btn) {
  text-align: center;
  vertical-align: middle;
}

:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn):hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
}

:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn):focus,
:where(button, [type="button"], [type="submit"], [type="reset"], [role="button"], .btn):active, {
  color: var(--btn-focus-color);
  outline: 0;
  background-color: var(--btn-focus-bg);
  border: 1px solid var(--btn-border);
  box-shadow: var(--btn-focus);
}

:where([type=file]) {
  display: block;
  width: 100%;
  border: 1px solid var(--surf-4);
  border-radius: .25rem;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --btn-bg: var(--surf-2);
  --btn-border: transparent;
  --btn-hover-bg: var(--surf-3);
  --btn-focus-bg: var(--surf-1);
  --btn-focus-hsl: var(--text-hsl);
  --btn-padding: .5rem 1rem; 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: .5rem;
}

:where(input[type="file"])::file-selector-button:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
}

:where(input[type="file"])::-webkit-file-upload-button:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
}

:where(button, [type="button"], [role="button"], .btn) {
  --btn-bg: var(--surf-2);
  --btn-border: var(--surf-4);
  --btn-hover-bg: var(--surf-3);
  --btn-focus-bg: var(--surf-1);
  --btn-focus-hsl: var(--text-hsl);
}

:where(.btn-dark) {
  --btn-color: #fff;
  --btn-bg: var(--gray-10);
  --btn-border: var(--gray-9);
  --btn-hover-color: var(--btn-color);
  --btn-hover-bg: var(--gray-9);
  --btn-focus-color: var(--btn-color);
  --btn-focus-bg: #000;
  --btn-focus-hsl: var(--text-hsl); 
}

:where([type="reset"]), :where(.btn-red) {
  --btn-color: #fff;
  --btn-bg: var(--red);
  --btn-border: var(--red-lighter);
  --btn-hover-color: #fff;
  --btn-hover-bg: var(--red-dark);
  --btn-focus-color: var(--btn-color);
  --btn-focus-bg: var(--red-darker);
  --btn-focus-hsl: var(--red-hsl);
}

:where([type="submit"]), :where(.btn-blue) {
  --btn-color: #fff;
  --btn-bg: var(--blue);
  --btn-border: var(--blue-light);
  --btn-hover-color: var(--btn-color);
  --btn-hover-bg: var(--blue-dark);
  --btn-focus-color: var(--btn-color);
  --btn-focus-bg: var(--blue-darker);
  --btn-focus-hsl: var(--blue-hsl);
}

:where(.btn-green) {
  --btn-color: #fff;
  --btn-bg: var(--green);
  --btn-border: var(--green-light);
  --btn-hover-color: #fff;
  --btn-hover-bg: var(--green-dark);
  --btn-focus-color: var(--btn-color);
  --btn-focus-bg: var(--green-darker);
  --btn-focus-hsl: var(--green-hsl);
}

:where(.btn-yellow) {
  --btn-color: #000;
  --btn-bg: var(--yellow);
  --btn-border: var(--yellow-light);
  --btn-hover-color: var(--btn-color);
  --btn-hover-bg: var(--yellow-dark);
  --btn-focus-color: var(--btn-color);
  --btn-focus-bg: var(--yellow-darker);
  --btn-focus-hsl: var(--yellow-hsl);
}

// Button sizes

.btn-xs {
  --fs: var(--fs-xs);
  --btn-padding: .15rem .5rem;
}

.btn-sm {
  --fs: var(--fs-sm);
  --btn-padding: .2rem .65rem;
}

.btn-lg {
  --fs: var(--fs-lgr);
  --btn-padding: .5rem 1.25rem;
}

.btn-lgr {
  --fs: var(--fs-lgst);
  --btn-padding: .75rem 1.5rem;
}

.btn-toolbar {
  display: flex;
  flex-direction: row;
  
  > * {
    margin-right: .25rem;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-group {
  display: flex;
}

.btn-group-col {
  display: inline-flex;
  flex-direction: column;
}

:where(.btn-group > *),
:where(.btn-group-col > *) {
  --btn-radius: 0;
  --btn-padding: .25rem .75rem;
}

:where(.btn-group > *):focus,
:where(.btn-group-col > *):focus {
  box-shadow: none;
  background-image: none;
  outline: inset thin;
  outline-color: var(--btn-border);
}

:where(.btn-group > *) {
  border-right: none;
}

:where(.btn-group > *):focus,
:where(.btn-group > *):active {
  border-right: none;
}

:where(.btn-group > *):first-child {
  --btn-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:where(.btn-group > *):last-child {
  --btn-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: 1px solid var(--btn-border);
}

:where(.btn-group-col > *) {
  border-bottom: none;
}

:where(.btn-group-col > *):focus,
:where(.btn-group-col > *):active {
  border-bottom: none;
  outline: none;
}

:where(.btn-group-col > *):first-child {
  --btn-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:where(.btn-group-col > *):last-child {
  --btn-radius: .25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid var(--btn-border);
}
