// Property variables

// Typography
// Font families
$sans:      "Libre Franklin", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif !default;
$serif:     Georgia, ui-serif, serif !default;
$monospace: Consolas, Menlo, Monaco, SFMono-Regular, monospace !default;

// Static font sizes
$fs-base:   1rem;
$fs-xs:     calc(var(--fs-base) * .75) !default;
$fs-sm:     calc(var(--fs-base) * .875) !default;
$fs-lg:     calc(var(--fs-base) * 1.063) !default;
$fs-lgr:    calc(var(--fs-base) * 1.125) !default;
$fs-lgst:   calc(var(--fs-base) * 1.25) !default;
$fs-h1:     calc(var(--fs-base) * 3) !default;
$fs-h2:     calc(var(--fs-base) * 2.3) !default;
$fs-h3:     calc(var(--fs-base) * 1.8) !default;
$fs-h4:     calc(var(--fs-base) * 1.5) !default;
$fs-h5:     calc(var(--fs-base) * 1.3) !default;
$fs-h6:     calc(var(--fs-base) * 1.1) !default;

// Fluid font sizes
// Sizes are calculated on screen widths 1920px to 400px using
// https://www.fluid-type-scale.com/ by Aleksandr Hovhannisyan.
$fsf-base:  clamp(0.94rem, 0.07vw + 0.92rem, 1rem) !default;
$fsf-sm:    clamp(0.75rem, 0.22vw + 0.7rem, 0.87rem) !default;
$fsf-lg:    clamp(1rem, 0.11vw + 0.97rem, 1.06rem) !default;
$fsf-lgr:   clamp(1.06rem, 0.11vw + 1.03rem, 1.13rem) !default;
$fsf-lgst:  clamp(1.13rem, 0.23vw + 1.07rem, 1.25rem) !default;
$fsf-h1:    clamp(2.4rem, 1.09vw + 2.13rem, 3rem) !default;
$fsf-h2:    clamp(1.8rem, 0.91vw + 1.57rem, 2.3rem) !default;
$fsf-h3:    clamp(1.5rem, 0.55vw + 1.36rem, 1.8rem) !default;
$fsf-h4:    clamp(1.38rem, 0.23vw + 1.32rem, 1.5rem) !default;
$fsf-h5:    clamp(1.18rem, 0.23vw + 1.12rem, 1.3rem) !default;
$fsf-h6:    clamp(1.06rem, 0.07vw + 1.05rem, 1.1rem) !default;

// Mono colors
$gray-1:  0, 0%, 97% !default;
$gray-2:  0, 0%, 91% !default;
$gray-3:  0, 0%, 85% !default;
$gray-4:  0, 0%, 75% !default;
$gray-5:  0, 0%, 67% !default;
$gray-6:  0, 0%, 57% !default;
$gray-7:  0, 0%, 45% !default;
$gray-8:  0, 0%, 36% !default;
$gray-9:  0, 0%, 25% !default;
$gray-10: 0, 0%, 15% !default;
$gray-11: 0, 0%, 11% !default;
$gray-12: 0, 0%, 3% !default;

// Primary colors
$blue-h:    240 !default;
$blue-s:    45% !default;
$blue-l:    50% !default;
$blue:      $blue-h, $blue-s, $blue-l !default;
$blue-1:    $blue-h, $blue-s, 70% !default;
$blue-2:    $blue-h, $blue-s, 62% !default;
$blue-3:    $blue-h, $blue-s, $blue-l !default; // Base color
$blue-4:    $blue-h, $blue-s, 35% !default;
$blue-5:    $blue-h, $blue-s, 25% !default;
$green-h:   120 !default;
$green-s:   50% !default;
$green-l:   30% !default;
$green:     $green-h, $green-s, $green-l !default;
$green-1:   $green-h, $green-s, 55% !default;
$green-2:   $green-h, $green-s, 40% !default;
$green-3:   $green-h, $green-s, $green-l !default; // Base color
$green-4:   $green-h, $green-s, 22% !default;
$green-5:   $green-h, $green-s, 16% !default;
$red-h:     0 !default;
$red-s:     100% !default;
$red-l:     35% !default;
$red:       $red-h, $red-s, $red-l !default;
$red-1:     $red-h, $red-s, 65% !default;
$red-2:     $red-h, $red-s, 45% !default;
$red-3:     $red-h, $red-s, $red-l !default; // Base color
$red-4:     $red-h, $red-s, 25% !default;
$red-5:     $red-h, $red-s, 15% !default;
$yellow-h:  60 !default;
$yellow-s:  100% !default;
$yellow-l:  52% !default;
$yellow:    $yellow-h, $yellow-s, $yellow-l !default;
$yellow-1:  $yellow-h, $yellow-s, 80% !default;
$yellow-2:  $yellow-h, $yellow-s, 69% !default;
$yellow-3:  $yellow-h, $yellow-s, $yellow-l !default; // Base color
$yellow-4:  $yellow-h, $yellow-s, 47% !default;
$yellow-5:  $yellow-h, $yellow-s, 42% !default;


// Color schemes
// Mode switching button SVGs
$day-mode:    url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='m7.47 0v2.26h1.15v-2.26zm-4.9 2.19-0.812 0.8 1.62 1.6 0.812-0.8zm10.8 0-1.62 1.6 0.812 0.8 1.62-1.6zm-5.29 1.25s-4.59 0-4.59 4.52c0 4.52 4.59 4.52 4.59 4.52s4.59 0 4.59-4.52c0-4.52-4.59-4.52-4.59-4.52zm5.67 3.92v1.13h2.3v-1.13zm-13.7 0.0243v1.13h2.3v-1.13zm3.01 4-1.62 1.6 0.812 0.8 1.62-1.6zm9.99 0-0.812 0.8 1.62 1.6 0.812-0.8zm-5.54 2.36v2.26h1.15v-2.26z' clip-rule='evenodd'/></svg>");
$night-mode:  url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='m3.6 1s-2.27 2.27-2.5 5.39c-0.308 1.82 0.062 4.02 2.26 6.22 2.06 2.06 4.11 2.51 5.86 2.31 3.46-0.231 5.79-2.51 5.79-2.51s-4.21 1.35-8.48-2.93c-4.26-4.26-2.9-8.46-2.9-8.46z' clip-rule='evenodd'/></svg>");

// Light mode color scheme
$lm-color-scheme:     light;
$lm-text:             #000 !default;
$lm-text-hsl:         0, 0%, 0% !default;
$lm-text-light:       var(--gray-7) !default;
$lm-link:             var(--blue-3) !default;
$lm-link-hover:       var(--blue-1) !default;
$lm-surf-1:           #fff !default;
$lm-surf-2:           var(--gray-1) !default;
$lm-surf-3:           var(--gray-2) !default;
$lm-surf-4:           var(--gray-3) !default;
$lm-surf-5:           var(--gray-4) !default;
$lm-surf-6:           var(--gray-5) !default;
$lm-surf-7:           var(--gray-6) !default;
$lm-body-bg:          var(--surf-1) !default;
$lm-modeswitch-svg:   var(--day-mode) !default;

// Dark mode color scheme
$dm-color-scheme:     dark;
$dm-text:             #fff !default;
$dm-text-hsl:         0, 0%, 100% !default;
$dm-text-light:       var(--gray-6) !default;
$dm-link:             var(--blue-2) !default;
$dm-link-hover:       var(--blue-1) !default;
$dm-surf-1:           #000 !default;
$dm-surf-2:           var(--gray-12) !default;
$dm-surf-3:           var(--gray-11) !default;
$dm-surf-4:           var(--gray-10) !default;
$dm-surf-5:           var(--gray-9) !default;
$dm-surf-6:           var(--gray-8) !default;
$dm-surf-7:           var(--gray-7) !default;
$dm-body-bg:          var(--surf-1) !default;
$dm-modeswitch-svg:   var(--night-mode) !default;

// Gradients and shadows
$gradient-1:    linear-gradient(180deg, hsla(0, 0%, 100%, .075), hsla(0, 0%, 100%, 0)) !default;
$gradient-2:    linear-gradient(180deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, 0)) !default;
$gradient-3:    linear-gradient(180deg, hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0)) !default;
$gradient-4:    linear-gradient(180deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, 0)) !default;
$gradient-5:    linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0)) !default;
$gradient-6:    linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0)) !default;
$box-shadow-1:  0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.075) !default;
$box-shadow-2:  0 0.063rem 0.125rem hsla(0, 0%, 0%, 0.4) !default;
$box-shadow-3:  0 0.156rem 0.25rem hsla(0, 0%, 0%, 0.4) !default;
$box-shadow-4:  0 0.172rem 0.35rem hsla(0, 0%, 0%, 0.35) !default;
$txt-shadow-1:  0.03rem 0.05rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;
$txt-shadow-2:  0.03rem 0.08rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;
$txt-shadow-3:  0.03rem 0.15rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;
$txt-shadow-4:  0.03rem 0.2rem 0.094rem hsla(0, 0%, 0%, 0.5) !default;
