// Utility variables

// Spacing
$p-25: 25% !default;
$p-50: 50% !default;
$p-75: 75% !default;
$p-100: 100% !default;

$percent: (
  "25": $p-25,
  "50": $p-50,
  "75": $p-75,
  "100": $p-100,
) !default;

$auto:      auto !default;
$space-0:   0 !default;

$space-1:   .15rem !default;
$space-2:   .25rem !default;
$space-3:   .5rem !default;
$space-4:   .75rem !default;
$space-5:     1rem !default;
$space-6:   1.25rem !default;
$space-7:   1.5rem !default;
$space-8:   2rem !default;

$margins: (
  "auto": $auto,
  "0": $space-0,
  "1": $space-1,
  "2": $space-2,
  "3": $space-3,
  "4": $space-4, 
  "5": $space-5,
  "6": $space-6,
  "7": $space-7,
  "8": $space-8,
) !default;


$padding: (
  "0": $space-0,
  "1": $space-1,
  "2": $space-2,
  "3": $space-3,
  "4": $space-4, 
  "5": $space-5,
  "6": $space-6,
  "7": $space-7,
  "8": $space-8,
) !default;


// Radius
$radius-1: 0.125rem !default; // 2px
$radius-2: 0.25rem !default; // 4px
$radius-3: 0.5rem !default; // 8px
$radius-4: 0.75rem !default; // 12px
$radius-5: 1rem !default; // 16px

$radius: (
  "radius-1": $radius-1,
  "radius-2": $radius-2,
  "radius-3": $radius-3,
  "radius-4": $radius-4,
  "radius-5": $radius-5,
) !default;


// SVG icons
$home:      url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m1 15v-7l7-7 3 3v-2h2v4l2 2v7h-5v-5h-4v5z'/></svg>");
$email:     url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m1 2 7 8 7-8h-14zm14 0.959-4.47 5.33 4.47 5.67v-11zm-14 0.041v11l4.47-5.67-4.47-5.33zm5 6-5 6h14l-5-6-2 2-2-2z'/></svg>");
$arrowup:   url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m8.88 1.88-0.875-0.875-7 6.12v1.75l6.12-5.25v11.4h1.75v-11.4l6.12 5.25v-1.75z'/></svg>");
$newtab:    url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m9 1-1 1h5l-6.51 6.51 0.998 0.998 6.51-6.51 0.00195 5 1-1-0.00195-4.99v-0.998zm-8 2 0.00781 12h12v-8h-1v7h-9.99l-0.00781-10h7v-1z'/></svg>");
$pagelink:  url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m1 2v12h10v-3h-1v2h-8v-10h8v2h1v-3h-10zm11 2 1.88 3.29-7.88 0.041v1.37h7.88l-1.88 3.3h1.67c0.877-1.58 1.56-2.66 2.33-4l-2.45-4h-1.55z'/></svg>");
$plus:      url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m7 2v5h-5v2h5v5h2v-5h5v-2h-5v-5h-2z'/></svg>");
$minus:     url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m2 9v-2h12v2z'/></svg>");
$bars:      url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m2 2v2h12v-2h-12zm0 5v2h12v-2h-12zm0 5v2h12v-2h-12z'/></svg>");

$icons: (
  "home": $home,
  "email": $email,
  "arrowup": $arrowup,
  "newtab": $newtab,
  "pagelink": $pagelink,
  "plus": $plus,
  "minus": $minus,
  "bars": $bars,
) !default;


// Colors

$surf-color:            var(--text) !default;
$surf-ico-color:        var(--color) !default;
$surf-1-bg-color:       var(--surf-1) !default;
$surf-1-border-color:   var(--surf-3) !default;
$surf-2-bg-color:       var(--surf-2) !default;
$surf-2-border-color:   var(--surf-4) !default;
$surf-3-bg-color:       var(--surf-3) !default;
$surf-3-border-color:   var(--surf-5) !default;
$surf-4-bg-color:       var(--surf-4) !default;
$surf-4-border-color:   var(--surf-6) !default;
$surf-5-bg-color:       var(--surf-5) !default;
$surf-5-border-color:   var(--surf-7) !default;
$surf-6-bg-color:       var(--surf-6) !default;
$surf-6-border-color:   var(--surf-4) !default;
$surf-7-bg-color:       var(--surf-7) !default;
$surf-7-border-color:   var(--surf-5) !default;

$blue-1-color:          #000 !default;
$blue-1-bg-color:       var(--blue-1) !default;
$blue-1-ico-color:      var(--color) !default;
$blue-1-border-color:   var(--blue-2) !default;
$blue-2-color:          #000 !default;
$blue-2-bg-color:       var(--blue-2) !default;
$blue-2-ico-color:      var(--color) !default;
$blue-2-border-color:   var(--blue-1) !default;
$blue-3-color:          #fff !default;
$blue-3-bg-color:       var(--blue-3) !default;
$blue-3-ico-color:      var(--color) !default;
$blue-3-border-color:   var(--blue-2) !default;
$blue-4-color:          #fff !default;
$blue-4-bg-color:       var(--blue-4) !default;
$blue-4-ico-color:      var(--color) !default;
$blue-4-border-color:   var(--blue-3) !default;
$blue-5-color:          #fff !default;
$blue-5-bg-color:       var(--blue-5) !default;
$blue-5-ico-color:      var(--color) !default;
$blue-5-border-color:   var(--blue-3) !default;

$green-1-color:          #000 !default;
$green-1-bg-color:       var(--green-1) !default;
$green-1-ico-color:      var(--color) !default;
$green-1-border-color:   var(--green-2) !default;
$green-2-color:          #000 !default;
$green-2-bg-color:       var(--green-2) !default;
$green-2-ico-color:      var(--color) !default;
$green-2-border-color:   var(--green-1) !default;
$green-3-color:          #fff !default;
$green-3-bg-color:       var(--green-3) !default;
$green-3-ico-color:      var(--color) !default;
$green-3-border-color:   var(--green-2) !default;
$green-4-color:          #fff !default;
$green-4-bg-color:       var(--green-4) !default;
$green-4-ico-color:      var(--color) !default;
$green-4-border-color:   var(--green-3) !default;
$green-5-color:          #fff !default;
$green-5-bg-color:       var(--green-5) !default;
$green-5-ico-color:      var(--color) !default;
$green-5-border-color:   var(--green-3) !default;

$red-1-color:          #000 !default;
$red-1-bg-color:       var(--red-1) !default;
$red-1-ico-color:      var(--color) !default;
$red-1-border-color:   var(--red-2) !default;
$red-2-color:          #fff !default;
$red-2-bg-color:       var(--red-2) !default;
$red-2-ico-color:      var(--color) !default;
$red-2-border-color:   var(--red-1) !default;
$red-3-color:          #fff !default;
$red-3-bg-color:       var(--red-3) !default;
$red-3-ico-color:      var(--color) !default;
$red-3-border-color:   var(--red-2) !default;
$red-4-color:          #fff !default;
$red-4-bg-color:       var(--red-4) !default;
$red-4-ico-color:      var(--color) !default;
$red-4-border-color:   var(--red-3) !default;
$red-5-color:          #fff !default;
$red-5-bg-color:       var(--red-5) !default;
$red-5-ico-color:      var(--color) !default;
$red-5-border-color:   var(--red-4) !default;

$yellow-1-color:          #000 !default;
$yellow-1-bg-color:       var(--yellow-1) !default;
$yellow-1-ico-color:      var(--color) !default;
$yellow-1-border-color:   var(--yellow-2) !default;
$yellow-2-color:          #000 !default;
$yellow-2-bg-color:       var(--yellow-2) !default;
$yellow-2-ico-color:      var(--color) !default;
$yellow-2-border-color:   var(--yellow-1) !default;
$yellow-3-color:          #000 !default;
$yellow-3-bg-color:       var(--yellow-3) !default;
$yellow-3-ico-color:      var(--color) !default;
$yellow-3-border-color:   var(--yellow-4) !default;
$yellow-4-color:          #000 !default;
$yellow-4-bg-color:       var(--yellow-4) !default;
$yellow-4-ico-color:      var(--color) !default;
$yellow-4-border-color:   var(--yellow-3) !default;
$yellow-5-color:          #000 !default;
$yellow-5-bg-color:       var(--yellow-5) !default;
$yellow-5-ico-color:      var(--color) !default;
$yellow-5-border-color:   var(--yellow-4) !default;

$gray-1-color:          #000 !default;
$gray-1-bg-color:       var(--gray-1) !default;
$gray-1-ico-color:      var(--color) !default;
$gray-1-border-color:   var(--gray-1) !default;
$gray-2-color:          #000 !default;
$gray-2-bg-color:       var(--gray-2) !default;
$gray-2-ico-color:      var(--color) !default;
$gray-2-border-color:   var(--gray-2) !default;
$gray-3-color:          #000 !default;
$gray-3-bg-color:       var(--gray-3) !default;
$gray-3-ico-color:      var(--color) !default;
$gray-3-border-color:   var(--gray-3) !default;
$gray-4-color:          #000 !default;
$gray-4-bg-color:       var(--gray-4) !default;
$gray-4-ico-color:      var(--color) !default;
$gray-4-border-color:   var(--gray-4) !default;
$gray-5-color:          #000 !default;
$gray-5-bg-color:       var(--gray-5) !default;
$gray-5-ico-color:      var(--color) !default;
$gray-5-border-color:   var(--gray-5) !default;
$gray-6-color:          #000 !default;
$gray-6-bg-color:       var(--gray-6) !default;
$gray-6-ico-color:      var(--color) !default;
$gray-6-border-color:   var(--gray-6) !default;
$gray-7-color:          #fff !default;
$gray-7-bg-color:       var(--gray-7) !default;
$gray-7-ico-color:      var(--color) !default;
$gray-7-border-color:   var(--gray-7) !default;
$gray-8-color:          #fff !default;
$gray-8-bg-color:       var(--gray-8) !default;
$gray-8-ico-color:      var(--color) !default;
$gray-8-border-color:   var(--gray-8) !default;
$gray-9-color:          #fff !default;
$gray-9-bg-color:       var(--gray-9) !default;
$gray-9-ico-color:      var(--color) !default;
$gray-9-border-color:   var(--gray-9) !default;
$gray-10-color:         #fff !default;
$gray-10-bg-color:      var(--gray-10) !default;
$gray-10-ico-color:     var(--color) !default;
$gray-10-border-color:  var(--gray-10) !default;
$gray-11-color:         #fff !default;
$gray-11-bg-color:      var(--gray-11) !default;
$gray-11-ico-color:     var(--color) !default;
$gray-11-border-color:  var(--gray-11) !default;
$gray-12-color:         #fff !default;
$gray-12-bg-color:      var(--gray-12) !default;
$gray-12-ico-color:     var(--color) !default;
$gray-12-border-color:  var(--gray-12) !default;


// Grid
// Fraction widths
$g-1:   100%;
$g-2:   repeat(2, 1fr);
$g-3:   repeat(3, 1fr);
$g-4:   repeat(4, 1fr);
$g-5:   repeat(5, 1fr);
$g-6:   repeat(6, 1fr);
$g-7:   repeat(7, 1fr);
$g-8:   repeat(8, 1fr);
$g-9:   repeat(9, 1fr);
$g-10:  repeat(10, 1fr);
$g-11:  repeat(11, 1fr);
$g-12:  repeat(12, 1fr);

$fraction-grid: (
  "g-1": $g-1,
  "g-2": $g-2,
  "g-3": $g-3,
  "g-4": $g-4,
  "g-5": $g-5,
  "g-6": $g-6,
  "g-7": $g-7,
  "g-8": $g-8,
  "g-9": $g-9,
  "g-10": $g-10,
  "g-11": $g-11,
  "g-12": $g-12,
) !default;

// Gaps
$gap-0: 0;
$gap-1: .25rem;
$gap-2: .5rem;
$gap-3: 1rem;
$gap-4: 1.5rem;
$gap-5: 2rem;

$gaps: (
  "gap-0": $gap-0,
  "gap-1": $gap-1,
  "gap-2": $gap-2,
  "gap-3": $gap-3,
  "gap-4": $gap-4,
  "gap-5": $gap-5,
) !default;

// Column gaps
$gap-c-0: 0;
$gap-c-1: .25rem;
$gap-c-2: .5rem;
$gap-c-3: 1rem;
$gap-c-4: 1.5rem;
$gap-c-5: 2rem;

$gap-column: (
  "gap-c-0": $gap-c-0,
  "gap-c-1": $gap-c-1,
  "gap-c-2": $gap-c-2,
  "gap-c-3": $gap-c-3,
  "gap-c-4": $gap-c-4,
  "gap-c-5": $gap-c-5,
) !default;

// Row gaps
$gap-r-0: 0;
$gap-r-1: .25rem;
$gap-r-2: .5rem;
$gap-r-3: 1rem;
$gap-r-4: 1.5rem;
$gap-r-5: 2rem;

$gap-row: (
  "gap-r-0": $gap-r-0,
  "gap-r-1": $gap-r-1,
  "gap-r-2": $gap-r-2,
  "gap-r-3": $gap-r-3,
  "gap-r-4": $gap-r-4,
  "gap-r-5": $gap-r-5,
) !default;

// Order
$order-0: 0;
$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;

$order: (
  "order-0": $order-0,
  "order-1": $order-1,
  "order-2": $order-2,
  "order-3": $order-3,
  "order-4": $order-4,
  "order-5": $order-5,
) !default;

// Breakpoints
$bp576:   576px;
$bp768:   768px;
$bp992:   992px;
$bp1200:  1200px;
$bp1400:  1400px;

$breakpoints: (
  "sm": $bp576,
  "md": $bp768,
  "lg": $bp992,
  "xl": $bp1200,
  "xxl": $bp1400,
) !default;



