// Accordions using <details> tag

.details, .details-group {
--color: var(--text);
--bg-color: inherit;
--ico-color: var(--color);
--border-color: var(--surf-4);
--radius: .25rem;
--padding: .5rem .75rem;

  summary {
  --fs: var(--fsf-lg);
    color: var(--color);
    font-size: var(--fs);  
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    list-style: none;
    padding: var(--padding);
            
    &:after {
      --svg: var(--plus);  
      @extend %svg-mask;   
      float: right;
      margin-top: calc(var(--fs) / 4);
      opacity: .5;
    }    
  }
  
  .details-body {
    border: 1px solid var(--border-color);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top: none;
    padding: var(--padding);
    
    :where(p, ol, ul, dl, address) {
      margin-bottom: .5rem;
    }
    
    :last-child {
      margin-bottom: 0;
    }
  }
  
  pre {
    border: none;
    border-bottom-left-radius: var(--radius); 
    border-bottom-right-radius: var(--radius);
  } 
}

.details[open] summary, .details-group [open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
  &:after {
    --svg: var(--minus);
  }
}

// Details group (accordion)

.details-group {
--radius: 0;

  summary {
    border-bottom: none;
  }
  
  [open] {
    margin-bottom: 0;
    
    summary {
      border-bottom: 1px solid var(--border-color);
    }
  }
  
  :first-child summary {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  :last-child summary {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom: 1px solid var(--border-color);
  }
  
  :last-child[open] summary {
    border-radius: 0;
  }
  
  .details-body {
    border-radius: var(--radius);
    border-bottom: none;
  }
  
  :last-child .details-body {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom: 1px solid var(--border-color);
  }
}

// Details group menu list

.details-group {
  
  ul { 
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    
    a {
      text-decoration: none;
      display: block;
           
    } 
  }   
  
  li {
    border: 1px solid var(--border-color);
    border-top: none;
    padding: var(--padding); 
    
    &:hover {
      background-color: var(--surf-2);
    }
  }
  
  [open] {
  
    li:last-child {
      border-bottom: none;
    }
  }
  
  [open]:last-child {  
  
    li {
      border-bottom: 1px solid var(--border-color);
      
      &:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }
  }      
}
