// Cards

.card {
--color: var(--text);
--bg-color: inherit;
--ico-color: var(--color);
--border-color: var(--surf-4);
--radius: .25rem;
--padding: .5rem .75rem;

  .card-title, .card-body {
    padding: var(--padding);
    border: 1px solid var(--border-color);
  }
  
  .card-title {
    color: var(--color);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: var(--bg-color);
    margin-bottom: 0;
  }
  
  .card-body {
    border-top: none;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
}
