// Colors
// Load last

.bg {
  color: var(--color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
  
    &:before, &:after {
    --ico-color: var(--color);
    }
}


.blue {
--color: #fff;
--bg-color: var(--blue);
--ico-color: var(--color);
--border-color: var(--blue);
}

.blue-light {
--color: #000;
--bg-color: var(--blue-light);
--ico-color: var(--color);
--border-color: var(--blue-light);
}

.blue-lighter {
--color: #000;
--bg-color: var(--blue-lighter);
--ico-color: var(--color);
--border-color: var(--blue-lighter);
}

.blue-dark {
--color: #fff;
--bg-color: var(--blue-dark);
--ico-color: var(--color);
--border-color: var(--blue-dark);
}

.blue-darker {
--color: #fff;
--bg-color: var(--blue-darker);
--ico-color: var(--color);
--border-color: var(--blue-darker);
}

.green {
--color: #fff;
--bg-color: var(--green);
--ico-color: var(--color);
--border-color: var(--green);
}

.green-light {
--color: #000;
--bg-color: var(--green-light);
--ico-color: var(--color);
--border-color: var(--green-light);
}

.green-lighter {
--color: #000;
--bg-color: var(--green-lighter);
--ico-color: var(--color);
--border-color: var(--green-lighter);
}

.green-dark {
--color: #fff;
--bg-color: var(--green-dark);
--ico-color: var(--color);
--border-color: var(--green-dark);
}

.green-darker {
--color: #fff;
--bg-color: var(--green-darker);
--ico-color: var(--color);
--border-color: var(--green-darker);
}

.red {
--color: #fff;
--bg-color: var(--red);
--ico-color: var(--color);
--border-color: var(--red);
}

.red-light {
--color: #fff;
--bg-color: var(--red-light);
--ico-color: var(--color);
--border-color: var(--red-light);
}

.red-lighter {
--color: #000;
--bg-color: var(--red-lighter);
--ico-color: var(--color);
--border-color: var(--red-lighter);
}

.red-dark {
--color: #fff;
--bg-color: var(--red-dark);
--ico-color: var(--color);
--border-color: var(--red-dark);
}

.red-darker {
--color: #fff;
--bg-color: var(--red-darker);
--ico-color: var(--color);
--border-color: var(--red-darker);
}

.yellow {
--color: #000;
--bg-color: var(--yellow);
--ico-color: var(--color);
--border-color: var(--yellow-darker);
}

.yellow-light {
--color: #000;
--bg-color: var(--yellow-light);
--ico-color: var(--color);
--border-color: var(--yellow-light);
}

.yellow-lighter {
--color: #000;
--bg-color: var(--yellow-lighter);
--ico-color: var(--color);
--border-color: var(--yellow-lighter);
}

.yellow-dark {
--color: #000;
--bg-color: var(--yellow-dark);
--ico-color: var(--color);
--border-color: var(--yellow-dark);
}

.yellow-darker {
--color: #000;
--bg-color: var(--yellow-darker);
--ico-color: var(--color);
--border-color: var(--yellow-darker);
}

.dark {
--color: #fff;
--bg-color: var(--gray-10);
--ico-color: var(--color);
--border-color: var(--gray-10);
}

.gray-1 {
--color: #000;
--bg-color: var(--gray-1);
--ico-color: var(--color);
--border-color: var(--gray-1);
}

.gray-2 {
--color: #000;
--bg-color: var(--gray-2);
--ico-color: var(--color);
--border-color: var(--gray-2);
}

.gray-3 {
--color: #000;
--bg-color: var(--gray-3);
--ico-color: var(--color);
--border-color: var(--gray-3);
}

.gray-4 {
--color: #000;
--bg-color: var(--gray-4);
--ico-color: var(--color);
--border-color: var(--gray-4);
}

.gray-5 {
--color: #000;
--bg-color: var(--gray-5);
--ico-color: var(--color);
--border-color: var(--gray-5);
}

.gray-6 {
--color: #000;
--bg-color: var(--gray-6);
--ico-color: var(--color);
--border-color: var(--gray-6);
}

.gray-7 {
--color: #fff;
--bg-color: var(--gray-7);
--ico-color: var(--color);
--border-color: var(--gray-7);
}

.gray-8 {
--color: #fff;
--bg-color: var(--gray-8);
--ico-color: var(--color);
--border-color: var(--gray-8);
}

.gray-9 {
--color: #fff;
--bg-color: var(--gray-9);
--ico-color: var(--color);
--border-color: var(--gray-9);
}

.gray-10 {
--color: #fff;
--bg-color: var(--gray-10);
--ico-color: var(--color);
--border-color: var(--gray-10);
}

.gray-11 {
--color: #fff;
--bg-color: var(--gray-11);
--ico-color: var(--color);
--border-color: var(--gray-11);
}

.gray-12 {
--color: #fff;
--bg-color: var(--gray-12);
--ico-color: var(--color);
--border-color: var(--gray-12);
}



