// Containers
// Fluid sizes calculated from screen widths 1920px to 400px

:where(html) {
  --container-sm: clamp(1rem, 30.5vw + -6.6rem, 30rem);
  --container-md: clamp(1rem, 24.2vw + -5.1rem, 24rem);
  --container-lg: clamp(1rem, 17.9vw + -3.5rem, 18rem);
}

.container {
  padding-inline: 1rem;
}

.container-sm {
  padding-inline: var(--container-sm);
}

.container-md {
  padding-inline: var(--container-md);
}

.container-lg {
  padding-inline: var(--container-lg);
}