// Spacing

$p-25: 25% !default;
$p-50: 50% !default;
$p-75: 75% !default;
$p-100: 100% !default;

$percent: (
  "25": $p-25,
  "50": $p-50,
  "75": $p-75,
  "100": $p-100,
) !default;

$space: 1rem !default;
$space-0: 0 !default;
$space-1: .15rem !default;
$space-2: .25rem !default;
$space-3: .5rem !default;
$space-4: .75rem !default;
$space-5: 1.25rem !default;
$space-6: 1.5rem !default;
$space-7: 2rem !default;

$sizes: (
  "1": $space,
  "0": $space-0,
  "xxs": $space-1,
  "xs": $space-2,
  "sml": $space-3,
  "sm": $space-4, 
  "lg": $space-5,
  "xl": $space-6,
  "xxl": $space-7,
) !default;




