// Colors

:where(html) {
  --blue-hsl: #{$blue};     
  --blue-1: hsl(#{$blue-1});
  --blue-2: hsl(#{$blue-2});
  --blue-3: hsl(#{$blue-3});
  --blue-4: hsl(#{$blue-4});
  --blue-5: hsl(#{$blue-5});    
  --green-hsl: #{$green};
  --green-1: hsl(#{$green-1});
  --green-2: hsl(#{$green-2});
  --green-3: hsl(#{$green-3});
  --green-4: hsl(#{$green-4});
  --green-5: hsl(#{$green-5});   
  --red-hsl: #{$red};
  --red-1: hsl(#{$red-1});
  --red-2: hsl(#{$red-2});
  --red-3: hsl(#{$red-3});
  --red-4: hsl(#{$red-4});
  --red-5: hsl(#{$red-5});   
  --yellow-hsl: #{$yellow};
  --yellow-1: hsl(#{$yellow-1});
  --yellow-2: hsl(#{$yellow-2});
  --yellow-3: hsl(#{$yellow-3});
  --yellow-4: hsl(#{$yellow-4});
  --yellow-5: hsl(#{$yellow-5}); 
}
