// Colors

:where(html) {
  --blue-hsl: #{$blue};
  --blue: hsl(#{$blue});     
  --blue-light: hsl(#{$blue-light});
  --blue-lighter: hsl(#{$blue-lighter});
  --blue-dark: hsl(#{$blue-dark});
  --blue-darker: hsl(#{$blue-darker});  
  --red-hsl: #{$red};
  --red: hsl(#{$red}); 
  --red-light: hsl(#{$red-light});
  --red-lighter: hsl(#{$red-lighter});
  --red-dark: hsl(#{$red-dark});
  --red-darker: hsl(#{$red-darker});
  --green-hsl: #{$green};
  --green: hsl(#{$green});  
  --green-light: hsl(#{$green-light});
  --green-lighter: hsl(#{$green-lighter});
  --green-dark: hsl(#{$green-dark});
  --green-darker: hsl(#{$green-darker});
  --yellow-hsl: #{$yellow};
  --yellow: hsl(#{$yellow});  
  --yellow-light: hsl(#{$yellow-light});
  --yellow-lighter: hsl(#{$yellow-lighter});
  --yellow-dark: hsl(#{$yellow-dark});
  --yellow-darker: hsl(#{$yellow-darker});
}
